<div class="columns is-centered">
  <div class="column is-5">
    <h2 class="title is-2">Edit Profile</h2>
    <div class="box neue-box">
      <%= form_with(model: profile, local: true) do |form| %>
        <% if profile.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

            <ul>
            <% profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

      <div class="field">
      <div class="control">
        <%= form.label :birthdate, class: 'label' %>
        <%= form.date_field :birthdate, class: 'input neue-input' %>
      </div>
      </div>

      <div class="field">
      <div class="control">
        <%= form.label :relationship_status, class: 'label' %>
        <%= form.text_field :relationship_status, class: 'input neue-input'  %>
      </div>
      </div>

      <div class="field">
      <div class="control">
        <%= form.label :hometown, class: 'label' %>
        <%= form.text_field :hometown, class: 'input neue-input' %>
      </div>
      </div>

      <div class="field">
      <div class="control">
          <%= form.label :current_city, class: 'label' %>
          <%= form.text_field :current_city, class: 'input neue-input' %>
      </div>
      </div>

      <div class="field">
      <div class="control">
        <%= form.label :favorite_quote, class: 'label' %>
        <%= form.text_area :favorite_quote, class: 'input neue-input' %>
      </div>
      </div>

      <div class="field">
      <div class="control">
        <%= form.label :about_you, class: 'label' %>
        <%= form.text_area :about_you, class: 'input neue-input' %>
      </div>
      </div>

      <div class="field">
      <div class="control">
        <%= form.label :picture, class: 'label' %>
        <%= form.file_field :picture %>
      </div>
      </div>

      <div class="actions">
        <%= form.submit "Update Profile", class: "button neue-long-btn is-medium" %>
      </div>

      <% end %>
    </div>
  </div>
</div>










  
  



