<div class="card">
  <div class="card-image">
    <figure class="image is-square profile-icon">
      <%= image_tag(@user.profile.picture, width: 128) if @user.profile.picture.attached? %>
    </figure>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= @user.name %></p>
        <p class="subtitle is-5">@<%= @user.username %></p>
      </div>
    </div>

    <div class="content">
      <strong>Birthday</strong><small> <%= @user.profile.birthdate %></small></br>
      <strong>Current City</strong><small> <%= @user.profile.current_city %></small></br>
      <strong>Relationship Status</strong><small> <%= @user.profile.relationship_status %></small></br>
      <strong>Hometown</strong><small> <%= @user.profile.hometown %></small></br>
      <strong>Favorite Quote</strong><small> <%= @user.profile.favorite_quote %></small></br>
      <strong>About Me</strong><small> <%= @user.profile.about_you %></small></br>
    </div>

    <% if current_user.id == @user.id %>
    <footer class="card-footer">
      <%= link_to 'Edit', edit_profile_path(@user.profile), class: 'card-footer-item' %> 
    </footer>
    <% end %>
  </div>
</div>