<div class="columns is-centered">
  <div class="column is-6 ">
    <div class="user-index">
    <% @users.each do |user| %>
    <div class="box neue-long">
      <div class="level">
        <div class="level-left">
          <div class="level-item">
            <figure class="image is-48x48">
              <%= link_to user_path(user) do %>
                <%= image_tag(user.profile.picture, width: 24, class: "profile-icon") if user.profile.picture.attached? %>
            </figure>
          </div>

          <div class="" id='stack'>
            <p class="name"><%= user.name %></p>
            <p class="username">@<%= user.username %></p>
          </div>
          <% end %>
        </div>

        <div class="level-right">
            <% if current_user.friends.include?(user) %>
              <p class= "level-item neue-input">Friend</p>
              <%= link_to "Unfriend", friendship_path(id: user),method: :delete, class: "level-item neue-long-btn button" %>
            
            <% elsif current_user.friendships.find { |f| f.friend_id == user.id && f.confirmed == false } %>

              <p class= "level-item neue-input">Pending</p>
              <%= link_to "Cancel", friendship_path(id: user), method: :delete, class: "level-item neue-long-btn button" %>

            <% elsif current_user.inverse_friendships.find{ |f| f.friend_id  == current_user.id && f.user_id == user.id && f.confirmed == false} %>

              <% @friendship = current_user.inverse_friendships.find { |f| f.friend_id == current_user.id && f.user_id == user.id } %>
              <% @friendship.id %>
              <%= link_to "Accept", friendship_path(id: @friendship.id), method: :patch, class: "level-item neue-long-btn button"%>

            <% else %>

              <%= link_to "Send Friend Request", friendships_path(friend_id: user.id), method: :post, class: "level-item neue-long-btn button"%>
            
            <% end %>
        </div>

        
      </div>
    </div>

    <% end %>
    </div>
  </div>
</div>



