<p>Name: <%= @profile.user.name %></p>
<p>Username: <%= @profile.user.username %></p>
<p>Relationship Status: <%= @profile.relationship_status %></p>
<p>Birthdate: <%= @profile.birthdate %></p>

<p>Hometown: <%= @profile.hometown %></p>
<p>Current City: <%= @profile.current_city %></p>

<p>Favorite Quote: <%= @profile.favorite_quote %></p>
<p>About Me: <%= @profile.about_you %></p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', :back %>

<% unless @posts.nil? %>
  <%= @posts.each do |post| %>
    <%= post.content %>
    
    <% unless current_user.id == post.author_id %>
      <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
      <% else %>
        <%= button_to 'Like', post_like_path(post), method: :post %>
      <% end %>0
    <% end %>

    <% @post.comments.each do |comment| %>
      <p>
      <%= comment.content %>
      <%= link_to 'Delete Comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %> 

    <%= form_for [ @post, Comment.new ] do |f| %>
    <p>
      <%= f.label :content, "Comment here" %></br>
      <%= f.text_area :content %>
    </p>
    <p>
      <%= f.submit 'Add Comment' %>
    </p>
    <% end %>
  <% end %>
<% end %>
