<% if @posts.empty? %>
  <div class="card post-box neue-box">
  </br>
  </br>
    <h2 class="centered">No Posts</h2>
  </br>
  </br>
  </div>

<% else %>


<% @posts.each do |post| %>

<div class="card post-box neue-box">
  <div class="card-content">
    <div class="media post-header">
      <div class="media-left">
      <%= link_to user_path(post.author) do %>
        <figure class="image is-48x48">
          <%= image_tag(post.author.profile.picture, class: "profile-icon") if post.author.profile.picture.attached? %>
        </figure>
      </div>

      <div class="media-content">
        <p class="post-author"><%= post.author.name %></p>
        <p class="post-date"><%= post.created_at.strftime("%B %e, %Y at %l:%M %p") %></p>
        <% end %>
      </div>
      

      <div class="media-right">
        <% if current_user.id == post.author.id %>
            <%= link_to post_path(post), method: :delete, data: { confirm: 'Are you sure?' } do %> 
            <span class="icon is-medium neue-round-btn">
              <i class="fas fa-lg fa-times"></i>
            </span>
            <% end %>
         <% end %>
      </div>
    </div>


    <div class="content">
      <p><%= post.content %></p>
    </div>
  </div>
    <div class="card-image">
      <figure class="image">
        <%= image_tag(post.picture) if post.picture.attached? %>
      </figure>
    </div>
  <div class="card-content">
    <div class="level">
      <div class="level-item">
        <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= link_to 'Unlike', post_like_path(post, pre_like), method: :delete, class: 'button neue-long-btn' %>
          <% else %>
            <%= link_to 'Like', post_like_path(post), method: :post, class: 'button neue-long-btn' %>
          <% end %>
      </div>

      <div class="level-item">
        <%= link_to 'Comment', root_path, class: 'button neue-long-btn' %>
      </div>

      <div class="level-item">
        <%= link_to 'Share', post, class: 'button neue-long-btn' %>
      </div>
    </div>

    <p class="is-size-7 stats"><%= post.likes.count %> Likes | <%= post.comments.count %> Comments </p>

    <% post.comments.each do |comment| %>

    <article class="media comment-line">
      <div class="media-left">
        <figure class="image is-48x48">
        <%= link_to comment.user do %>
          <%= image_tag(comment.user.profile.picture, class: "profile-icon") if comment.user.profile.picture.attached? %>
        <% end %>
        </figure>
      </div>
      <div class="comment-bubble">
      <div class="media-content">
        <strong><%= link_to comment.user do %><%= comment.user.name %><% end %></strong><span> <%= comment.content %></span>
      </div>

      <div class="media-right">
        <% if current_user.id == comment.user.id %>
            <%= link_to post_comment_path(comment.post, comment), method: :delete, data: { confirm: 'Are you sure?' } do %> 
              <span class="icon neue-round-small">
              <i class="fas fa-times"></i>
              </span>
            <% end %>
         <% end %>
      </div>
      </div>
   
    </article>
    <% end %>


    <article class="media comment-form">
      <figure class="media-left">
        <div class="image is-48x48">
          <%= image_tag(current_user.profile.picture, class: 'profile-icon') if current_user.profile.picture.attached? %>
        </div>
      </figure>
      <%= form_for [post, Comment.new], html: { class: 'comment-form'} do |f| %>
        <div class="field is-grouped comment-form">
          <p class="control is-expanded">
            <%= f.text_area :content, placeholder: "Add a comment", class: 'textarea neue-input',rows: '1' %>
          </p>

          <p class="control">
            <%= f.submit 'Comment', class: 'button neue-long-btn' %>
          </p>
        </div>
      <% end %>
    </article>

  </div>
</div>

<% end %>

<% end %>