
<div class="card post-box neue-box">
  <div class="card-content">
    <article class="media">
      <figure class="media-left">
        <div class="image is-48x48">
          <%= image_tag(current_user.profile.picture, class: 'profile-icon') if current_user.profile.picture.attached? %>
        </div>
      </figure>

      <%= form_with(model: @post, local: true, class: 'post-form') do |form| %>
        <div class="field is-grouped">
          <p class="control is-expanded post-form-box">
            <%= form.text_area :content, placeholder: "Add a Post", class: 'textarea neue-input', id: 'post-textarea', rows: '1' %>
            <%= form.file_field :picture, class: 'file-upload', id: 'file', 'data-multiple-caption':"{count} files selected" %>
            <label for="file" class="custom-file-upload">Browse</label><span id="file-name">No file selected</span>
          </p>


          <p class="control">
            <%= form.submit 'Post', class: 'button neue-long-btn'%>
          </p>
        </div>

      <% end %>

    </article>
  </div>
</div>