<div class="card neue-box">
<div class="card-content">
  <div class="card-image">
    <figure class="image is-square">
      <%= link_to user_path(current_user) do %>
        <%= image_tag(current_user.profile.picture, width: '128', class: "profile-icon") if current_user.profile.picture.attached? %>
      <% end %>
    </figure>
  </div>

  
    <div class="media">
      <div class="media-content">
        <p class="name"><%= current_user.name %></p>
        <p class="username">@<%= current_user.username %></p>
      </div>
    </div>

    
      <%= link_to 'Friends', friendships_path, class: 'card-footer-item neue-long-btn' %>
    

    
      <%= link_to 'People', users_path, class: 'card-footer-item neue-long-btn' %>
    

    
      <%= link_to 'Edit Profile', edit_profile_path(current_user.profile), class: 'card-footer-item neue-long-btn' %> 
    
  </div>
</div>